* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #EAEAEA;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15%;
}
.container header {
  height: 100%;
  margin-right: 43px;
  position: relative;
  width: 186px;
  border-radius: 0px 20px 20px 0px;
  background: #1A66FF;
  padding-top: 40px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
}
.container header .img__wrapper {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}
.container header .img__wrapper .user__foto {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.container header .header__lists {
  width: 100%;
}
.container header .header__lists ul {
  width: 100%;
  padding-left: 25px;
}
.container header .header__lists ul li {
  width: 100%;
}
.container header .header__lists ul li a {
  display: block;
  width: 161px;
  height: 89px;
  padding-left: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px 0 0 20px;
  border-right: 6px solid transparent;
  z-index: 10;
}
.container header .header__lists ul li a:focus {
  border-right: 6px solid #FFE81A;
  background-color: #004BE1;
  -webkit-box-shadow: 8px 8px 22px #1248b5, -8px -8px 22px #2284ff;
          box-shadow: 8px 8px 22px #1248b5, -8px -8px 22px #2284ff;
}
.container .main .HOME__PAGE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.container .main .search__part {
  width: 427px;
}
.container .main .search__part form {
  width: 100%;
  margin-bottom: 43px;
}
.container .main .search__part form div {
  width: 427px;
  height: 59px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 23px;
}
.container .main .search__part form div img:first-child {
  width: 19px;
  height: 19px;
  margin-right: 36px;
}
.container .main .search__part form div img:last-child {
  width: 4px;
  height: 20px;
}
.container .main .search__part form div .input {
  width: 292px;
  height: 100%;
  border: none;
  margin-right: 30px;
  font-size: 18px;
  color: #000;
  font-family: sans-serif;
  outline: none;
  border-radius: 12px;
  padding: 0 5px;
}
.container .main .search__part form div .input::-webkit-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .search__part form div .input::-moz-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .search__part form div .input:-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .search__part form div .input::-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .search__part form div .input::placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .search__part .group__card {
  width: 427px;
  border-radius: 20px;
  background: #FFF;
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 43px;
}
.container .main .search__part .group__card .group__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}
.container .main .search__part .group__card .group__title p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .search__part .group__card .group__title img {
  width: 4px;
  height: 20px;
}
.container .main .search__part .group__card .group__Card__one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 14px;
}
.container .main .search__part .group__card .group__Card__one:last-child {
  margin-bottom: 21px;
  border: none;
}
.container .main .search__part .group__card .group__Card__one img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  margin-right: 14px;
  margin-bottom: 14px;
}
.container .main .search__part .group__card .group__Card__one p:first-child {
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .search__part .group__card .group__Card__one p:last-child {
  color: rgba(77, 77, 77, 0.75);
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .search__part .Recents__Card {
  width: 427px;
  border-radius: 20px;
  background: #FFF;
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container .main .search__part .Recents__Card .Recents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}
.container .main .search__part .Recents__Card .Recents__title p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .search__part .Recents__Card .Recents__title img {
  width: 4px;
  height: 20px;
}
.container .main .search__part .Recents__Card .Recents__card__one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 21px;
}
.container .main .search__part .Recents__Card .Recents__card__one:last-child {
  border-bottom: none;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side div .online__Wrapper {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side div .online__Wrapper .online {
  width: 85%;
  height: 85%;
  border-radius: 70px;
  background-color: #00FF75;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side .Recents__card__about {
  border-radius: 0;
  margin-left: 14px;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side .Recents__card__about p:first-child {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side .Recents__card__about p:last-child {
  color: rgba(77, 77, 77, 0.75);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__card__one__right__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin-bottom: 13px;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__card__one__right__side div {
  width: 30px;
  height: 30px;
  background-color: #00A1FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  border-radius: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__card__one__right__side p {
  text-align: end;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .search__part .Recents__Card .Recents__card__one .Recents__card__one__right__side img {
  width: 22.25px;
  height: 21.308px;
}
.container .main .Friends__part {
  width: 344px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 19px 22px;
}
.container .main .Friends__part .Friends__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.container .main .Friends__part .Friends__title p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .Friends__part .Friends__title img {
  width: 4px;
  height: 20px;
}
.container .main .Friends__part .Friends__card__one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}
.container .main .Friends__part .Friends__card__one:last-child {
  border-bottom: none;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content .online__image__wrapper {
  width: 52.182px;
  height: 52.182px;
  position: relative;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content .online__Wrapper {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content .online__Wrapper .online {
  width: 85%;
  height: 85%;
  border-radius: 70px;
  background-color: #00FF75;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content img {
  width: 52.182px;
  height: 52.182px;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content .Friends__card__one__about {
  width: 75%;
  margin-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content .Friends__card__one__about p:first-child {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content .Friends__card__one__about p:first-child span {
  color: rgba(77, 77, 77, 0.75);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .Friends__part .Friends__card__one .Friends__card__one__content .Friends__card__one__about p:last-child {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  right: 0;
  top: 25%;
}
.container .main .RecentCalls__part {
  width: 344px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 19px 28px;
}
.container .main .RecentCalls__part .RecentCalls__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.container .main .RecentCalls__part .RecentCalls__title p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .RecentCalls__part .RecentCalls__title img {
  width: 4px;
  height: 20px;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one:last-child {
  border: none;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one img {
  width: 52.182px;
  height: 52.182px;
  border-radius: 52.182px;
  margin-right: 10.82px;
  margin-bottom: 10px;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one .about__Wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one .about__Wrapper p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one .about__Wrapper p span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one .about__Wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one .about__Wrapper div img {
  border-radius: 0;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one .about__Wrapper div img:first-child {
  width: 12px;
  height: 12px;
}
.container .main .RecentCalls__part .RecentCalls__part__card__one .about__Wrapper div img:last-child {
  width: 20px;
  height: 20px;
}
.container .main .CHAT__PAGE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 22px;
}
.container .main .CHAT__PAGE .search__part {
  width: 427px;
}
.container .main .CHAT__PAGE .search__part form {
  width: 100%;
  margin-bottom: 43px;
}
.container .main .CHAT__PAGE .search__part form div {
  width: 427px;
  height: 59px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 23px;
}
.container .main .CHAT__PAGE .search__part form div img:first-child {
  width: 19px;
  height: 19px;
  margin-right: 36px;
}
.container .main .CHAT__PAGE .search__part form div img:last-child {
  width: 4px;
  height: 20px;
}
.container .main .CHAT__PAGE .search__part form div .input {
  width: 292px;
  height: 100%;
  border: none;
  margin-right: 30px;
  font-size: 18px;
  color: #000;
  font-family: sans-serif;
  outline: none;
  border-radius: 12px;
  padding: 0 5px;
}
.container .main .CHAT__PAGE .search__part form div .input::-webkit-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part form div .input::-moz-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part form div .input:-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part form div .input::-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part form div .input::placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .group__card {
  width: 427px;
  border-radius: 20px;
  background: #FFF;
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 43px;
}
.container .main .CHAT__PAGE .search__part .group__card .group__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}
.container .main .CHAT__PAGE .search__part .group__card .group__title p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .group__card .group__title img {
  width: 4px;
  height: 20px;
}
.container .main .CHAT__PAGE .search__part .group__card .group__Card__one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 14px;
}
.container .main .CHAT__PAGE .search__part .group__card .group__Card__one:last-child {
  margin-bottom: 21px;
  border: none;
}
.container .main .CHAT__PAGE .search__part .group__card .group__Card__one img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  margin-right: 14px;
  margin-bottom: 14px;
}
.container .main .CHAT__PAGE .search__part .group__card .group__Card__one p:first-child {
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .group__card .group__Card__one p:last-child {
  color: rgba(77, 77, 77, 0.75);
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .Recents__Card {
  width: 427px;
  border-radius: 20px;
  background: #FFF;
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__title p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__title img {
  width: 4px;
  height: 20px;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 21px;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one:last-child {
  border-bottom: none;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side div .online__Wrapper {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side div .online__Wrapper .online {
  width: 85%;
  height: 85%;
  border-radius: 70px;
  background-color: #00FF75;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side .Recents__card__about {
  border-radius: 0;
  margin-left: 14px;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side .Recents__card__about p:first-child {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__Card__one__left__Side .Recents__card__about p:last-child {
  color: rgba(77, 77, 77, 0.75);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__card__one__right__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin-bottom: 13px;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__card__one__right__side div {
  width: 30px;
  height: 30px;
  background-color: #00A1FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  border-radius: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__card__one__right__side p {
  text-align: end;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .search__part .Recents__Card .Recents__card__one .Recents__card__one__right__side img {
  width: 22.25px;
  height: 21.308px;
}
.container .main .CHAT__PAGE .chat__side {
  width: 789px;
  margin-left: 40px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 24px 51px;
  position: relative;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 57px;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__left__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__left__side .img__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-right: 33px;
  margin-bottom: 25px;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__left__side .img__wrapper img {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__left__side .img__wrapper .online__Wrapper {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__left__side .img__wrapper .online__Wrapper .online {
  width: 85%;
  height: 85%;
  border-radius: 70px;
  background-color: #00FF75;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__left__side p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__left__side p span {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__right__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__right__side img:first-child {
  width: 20px;
  height: 20px;
  margin-right: 46px;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__right__side img:nth-child(2) {
  width: 28.571px;
  height: 20px;
  margin-right: 46px;
}
.container .main .CHAT__PAGE .chat__side .chat__side__title .chat__right__side img:last-child {
  width: 5px;
  height: 25px;
}
.container .main .CHAT__PAGE .chat__side .first__messege {
  margin-bottom: 56px;
}
.container .main .CHAT__PAGE .chat__side .first__messege .first__messege__word__one {
  margin-bottom: 29px;
}
.container .main .CHAT__PAGE .chat__side .first__messege .first__messege__word__one .messege__shape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  position: relative;
  margin-bottom: 7px;
}
.container .main .CHAT__PAGE .chat__side .first__messege .first__messege__word__one .messege__shape .messaga__triangel {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #CFCFCF;
  border-radius: 5px;
  margin: 2rem;
  position: absolute;
  left: -26px;
  top: -5px;
  -webkit-transform: rotate(128deg);
      -ms-transform: rotate(128deg);
          transform: rotate(128deg);
}
.container .main .CHAT__PAGE .chat__side .first__messege .first__messege__word__one .messege__shape .messege__regtangel {
  width: 194px;
  height: 50px;
  border-radius: 10px;
  background: #CFCFCF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .CHAT__PAGE .chat__side .first__messege .first__messege__word__one .messege__shape .messege__regtangel p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .chat__side .first__messege .first__messege__word__one p {
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .chat__side .second__messege {
  margin-bottom: 35px;
}
.container .main .CHAT__PAGE .chat__side .second__messege .second__messege__word__one {
  margin-bottom: 29px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .CHAT__PAGE .chat__side .second__messege .second__messege__word__one .messege__shape {
  width: 50%;
  height: 50px;
  position: relative;
  margin-bottom: 7px;
}
.container .main .CHAT__PAGE .chat__side .second__messege .second__messege__word__one .messege__shape .messaga__triangel {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #1A66FF;
  border-radius: 5px;
  margin: 2rem;
  position: absolute;
  right: -30px;
  top: -41px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.container .main .CHAT__PAGE .chat__side .second__messege .second__messege__word__one .messege__shape .messege__regtangel {
  min-width: 194px;
  padding: 0 10px;
  height: 50px;
  border-radius: 10px;
  background: #1A66FF;
  position: absolute;
  right: 20px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.container .main .CHAT__PAGE .chat__side .second__messege .second__messege__word__one .messege__shape .messege__regtangel p {
  text-align: center;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .chat__side .second__messege .second__messege__word__one .messege__shape .message__time {
  width: 90px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  bottom: -21px;
  right: 0px;
}
.container .main .CHAT__PAGE .chat__side .third__messege {
  margin-bottom: 20px;
}
.container .main .CHAT__PAGE .chat__side .third__messege .third__messege__word__one {
  margin-bottom: 29px;
}
.container .main .CHAT__PAGE .chat__side .third__messege .third__messege__word__one .messege__shape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  position: relative;
  margin-bottom: 7px;
}
.container .main .CHAT__PAGE .chat__side .third__messege .third__messege__word__one .messege__shape .messaga__triangel {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #CFCFCF;
  border-radius: 5px;
  margin: 2rem;
  position: absolute;
  left: -26px;
  top: -5px;
  -webkit-transform: rotate(128deg);
      -ms-transform: rotate(128deg);
          transform: rotate(128deg);
}
.container .main .CHAT__PAGE .chat__side .third__messege .third__messege__word__one .messege__shape .messege__regtangel {
  min-width: 194px;
  padding: 0 10px;
  height: 50px;
  border-radius: 10px;
  background: #CFCFCF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .CHAT__PAGE .chat__side .third__messege .third__messege__word__one .messege__shape .messege__regtangel p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .chat__side .third__messege .third__messege__word__one p {
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .chat__side .fourth__messege {
  margin-bottom: 47px;
}
.container .main .CHAT__PAGE .chat__side .fourth__messege .fourth__messege__word__one {
  margin-bottom: 29px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .CHAT__PAGE .chat__side .fourth__messege .fourth__messege__word__one .messege__shape {
  width: 50%;
  height: 50px;
  position: relative;
  margin-bottom: 7px;
}
.container .main .CHAT__PAGE .chat__side .fourth__messege .fourth__messege__word__one .messege__shape .messaga__triangel {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #1A66FF;
  border-radius: 5px;
  margin: 2rem;
  position: absolute;
  right: -30px;
  top: -41px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.container .main .CHAT__PAGE .chat__side .fourth__messege .fourth__messege__word__one .messege__shape .messege__regtangel {
  min-width: 194px;
  padding: 0 10px;
  height: 50px;
  border-radius: 10px;
  background: #1A66FF;
  position: absolute;
  right: 20px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.container .main .CHAT__PAGE .chat__side .fourth__messege .fourth__messege__word__one .messege__shape .messege__regtangel p {
  text-align: center;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .CHAT__PAGE .chat__side .fourth__messege .fourth__messege__word__one .messege__shape .message__time {
  width: 90px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  bottom: -21px;
  right: 0px;
}
.container .main .CHAT__PAGE .chat__side .chat__form {
  width: 87%;
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: 54px;
  bottom: 34px;
}
.container .main .CHAT__PAGE .chat__side .chat__form div:first-child {
  width: 520px;
  height: 45px;
  border-radius: 10px;
  background: #E0E0E0;
  padding: 15px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .CHAT__PAGE .chat__side .chat__form div:first-child img:first-child {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}
.container .main .CHAT__PAGE .chat__side .chat__form div:first-child img:nth-child(3) {
  width: 15px;
  height: 15px;
  margin-right: 13px;
}
.container .main .CHAT__PAGE .chat__side .chat__form div:first-child img:last-child {
  width: 19.091px;
  height: 15px;
  margin-right: 16px;
}
.container .main .CHAT__PAGE .chat__side .chat__form div:first-child input {
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  background: #E0E0E0;
  color: #004BE1;
  margin-right: 15px;
  font-size: 20px;
  text-indent: #004be1;
}
.container .main .CHAT__PAGE .chat__side .chat__form div:last-child {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background: #1A66FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .main .CHAT__PAGE .chat__side .chat__form div:last-child img {
  width: 14.063px;
  height: 21.875px;
}
.container .main .NOTIFICATION__PAGE {
  width: 100%;
  margin-bottom: 30px;
}
.container .main .NOTIFICATION__PAGE .search__notification {
  width: 100%;
  height: 59px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 23px;
  margin-bottom: 26px;
}
.container .main .NOTIFICATION__PAGE .search__notification img:first-child {
  width: 19px;
  height: 19px;
  margin-right: 36px;
}
.container .main .NOTIFICATION__PAGE .search__notification img:last-child {
  width: 4px;
  height: 20px;
}
.container .main .NOTIFICATION__PAGE .search__notification input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0 10px;
  margin-right: 20px;
}
.container .main .NOTIFICATION__PAGE .search__notification input::-webkit-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .NOTIFICATION__PAGE .search__notification input::-moz-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .NOTIFICATION__PAGE .search__notification input:-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .NOTIFICATION__PAGE .search__notification input::-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .NOTIFICATION__PAGE .search__notification input::placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .NOTIFICATION__PAGE .notifications__panel {
  width: 100%;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 35px 41px;
}
.container .main .NOTIFICATION__PAGE .notifications__panel .notification__Card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 43px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 33px;
}
.container .main .NOTIFICATION__PAGE .notifications__panel .notification__Card:last-child {
  border: none;
}
.container .main .NOTIFICATION__PAGE .notifications__panel .notification__Card img {
  width: 20.513px;
  height: 25px;
  margin-right: 42.49px;
}
.container .main .NOTIFICATION__PAGE .notifications__panel .notification__Card p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .SETTINGS__PAGE {
  width: 100%;
}
.container .main .SETTINGS__PAGE .search__settings {
  width: 100%;
  height: 59px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 23px;
  margin-bottom: 26px;
}
.container .main .SETTINGS__PAGE .search__settings img:first-child {
  width: 19px;
  height: 19px;
  margin-right: 36px;
}
.container .main .SETTINGS__PAGE .search__settings img:last-child {
  width: 4px;
  height: 20px;
}
.container .main .SETTINGS__PAGE .search__settings input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0 10px;
  margin-right: 20px;
}
.container .main .SETTINGS__PAGE .search__settings input::-webkit-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .search__settings input::-moz-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .search__settings input:-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .search__settings input::-ms-input-placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .search__settings input::placeholder {
  color: rgba(61, 61, 61, 0.35);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings {
  width: 47%;
  min-height: 100%;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 26px 22px;
  position: relative;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__title {
  width: 100%;
  margin-bottom: 49px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__title p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  position: relative;
  margin-bottom: 62px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__card img:first-child {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #FFF;
  margin-right: 31px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__card img:last-child {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 30%;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__card p {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 85px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__card p span {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  margin-bottom: 64px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__details .profil__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__details .profil__detail:last-child {
  margin-bottom: 0;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__details .profil__detail img {
  width: 25px;
  height: 25px;
  margin-right: 39px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__details .profil__detail p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 38px;
  left: 0;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings .profil__footer p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings {
  width: 47%;
  height: 100%;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 26px 22px;
  position: relative;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__title {
  width: 100%;
  margin-bottom: 49px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__title p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  margin-bottom: 64px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__details .account__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__details .account__detail:last-child {
  margin-bottom: 0;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__details .account__detail img {
  width: 25px;
  height: 25px;
  margin-right: 39px;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__details .account__detail p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0;
}
.container .main .SETTINGS__PAGE .settings__content__Wrapper .account__settings .account__footer p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 1135px) {
  .container .main {
    padding-left: 30px;
    padding-right: 10px;
  }
  .container .main .HOME__PAGE {
    background-color: red;
    padding-left: 10px;
    padding-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (max-width: 1110px) {
  .container .main .HOME__PAGE {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main .HOME__PAGE .search__part {
    margin-right: 20px;
  }
  .container .main .HOME__PAGE .Friends__part {
    margin-right: 20px;
  }
  .container .main .CHAT__PAGE {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main .CHAT__PAGE .chat__side {
    max-width: 700px;
  }
  .container .main .NOTIFICATION__PAGE {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main .NOTIFICATION__PAGE .search__notification {
    margin-right: 6px;
    margin-left: 20px;
  }
  .container .main .NOTIFICATION__PAGE .notifications__panel {
    margin-right: 6px;
    margin-left: 20px;
  }
  .container .main .SETTINGS__PAGE {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .main .SETTINGS__PAGE .search__settings {
    margin-right: 6px;
    margin-left: 20px;
  }
  .container .main .SETTINGS__PAGE .settings__content__Wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main .SETTINGS__PAGE .settings__content__Wrapper .profil__settings {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 941px) {
  .container header {
    width: 120px;
  }
  .container header .header__lists ul {
    padding-left: 0;
  }
  .container header .header__lists ul li a {
    width: 100%;
  }
  .container header .header__lists ul li a:focus {
    border-right: 2px solid #FFE81A;
    background-color: #004BE1;
    -webkit-box-shadow: 4px 4px 18px #1248b5, -8px -8px 22px #2284ff;
            box-shadow: 4px 4px 18px #1248b5, -8px -8px 22px #2284ff;
  }
  .container header .header__lists ul li a:hover {
    border-right: 6px solid #FFE81A;
  }
  .container .main {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 580px) {
  .container .main {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 497px) {
  .container .main {
    padding-left: 40px;
  }
}